@tailwind base;
@tailwind components;
@tailwind utilities;

.page{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: green;
    /* background-image: url("/public/assets/login_background.jpg");
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover; */
}
.navBar{
    width: 100%;
    height: 13%;
    background-color: blue;
}