@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    flex-direction: column;
}
#root{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    flex-direction: column;
    padding: 0 !important;
    max-width: 100% !important;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-image: url("/public/assets/login_background.jpg");
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover; */
}
.body{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
    gap: 4rem;
    height: 76%;
    padding-bottom: 3rem;
}
.section{
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}
.section span{
    font-size: 4rem;
    padding-bottom: 1rem;
    font-weight: bold;
}
.skillsWrap{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    padding-bottom: 1rem;
    font-weight: bold;
    gap: 2rem;
}
.skills{
    display: grid;
    grid-template: 3rem 3rem / 15% 15% 15%;
}
.HTMLshill{
    font-size: 1rem;

}